{{- $path := .path | default "" -}}
{{- $src := $path -}}
{{- $width := .width | default 0 -}}
{{- $height := .height | default 0 -}}
{{- $skip := or (not $path) (hasPrefix $path "http://") (hasPrefix $path "https://") (hasPrefix $path "//") (strings.HasSuffix $path ".svg") -}}
{{- if not $skip -}}
  {{- $rel := strings.TrimPrefix "/" $path -}}
  {{- $img := resources.Get $rel -}}
  {{- if $img -}}
    {{- $quality := .quality | default 75 -}}
    {{- $processed := $img -}}
    {{- if .fill -}}
      {{- $h := .height | default .width -}}
      {{- $processed = $img.Fill (printf "%dx%d webp q%d" .width $h $quality) -}}
    {{- else if .width -}}
      {{- if gt $img.Width .width -}}
        {{- $processed = $img.Resize (printf "%dx webp q%d" .width $quality) -}}
      {{- else -}}
        {{- $processed = $img.Resize (printf "%dx webp q%d" $img.Width $quality) -}}
      {{- end -}}
    {{- end -}}
    {{- $src = $processed.RelPermalink -}}
    {{- $width = $processed.Width -}}
    {{- $height = $processed.Height -}}
  {{- end -}}
{{- end -}}
{{- dict "src" $src "width" $width "height" $height | jsonify -}}
