{{- $dest := .Destination | safeURL -}}
{{- $isAbs := or (hasPrefix $dest "http://") (hasPrefix $dest "https://") (hasPrefix $dest "//") -}}
{{- $src := $dest -}}
{{- $width := 0 -}}
{{- $height := 0 -}}
{{- if not $isAbs }}
  {{- $img := partial "processed-image.html" (dict "path" $dest "width" 1200 "quality" 78) -}}
  {{- $src = $img.src -}}
  {{- $width = $img.width -}}
  {{- $height = $img.height -}}
{{- end -}}
<figure class="md-figure">
  <img
    src="{{ $src }}"
    alt="{{ .Text }}"
    {{- with .Title }} title="{{ . }}"{{ end }}
    {{- if $width }} width="{{ $width }}"{{ end }}
    {{- if $height }} height="{{ $height }}"{{ end }}
    loading="lazy"
    decoding="async" />
  {{- with .Title }}
    <figcaption>{{ . }}</figcaption>
  {{- end }}
</figure>
