{{ $client := site.Params.googleAdsenseId }}
{{ $slot := site.Params.googleAdsenseInArticleSlot }}
{{ if and $client $slot (ne $slot "auto") }}
{{ if not (hasPrefix $client "ca-") }}
  {{ $client = printf "ca-%s" $client }}
{{ end }}
<div class="my-8 flex flex-col items-center justify-center overflow-hidden not-prose">
    <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
        data-ad-format="fluid" data-ad-client="{{ $client }}"
        data-ad-slot="{{ $slot }}"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
{{ end }}
